.rangeTime {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rangeTime__input {
    display: flex;
    flex-direction: column;
}

.rangeTime__input__section {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.rangeTime__btn {
    display: flex;
}