.list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.list__cards {
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 24px;
}

.list__card {
    background-color: #AFF;
    border-radius: 4px;
    padding: 24px;
}

.list__btn {
    display: flex;
    margin: auto;
    gap: 40px;
}

@media only screen and (max-width: 1300px) {
    .list__cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .list__cards {
        grid-template-columns: 1fr;
    }

    .list__card {
        min-width: 100px;
        margin: 0 24px;
    }
}