.list {
    max-width: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    gap: 24px;
}

.list__card {
    background-color: #AFF;
    border-radius: 4px;
    padding: 24px;
}

@media only screen and (max-width: 1300px) {
    .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 800px) {
    .list {
        grid-template-columns: 1fr;
    }

    .list__card {
        min-width: 100px;
        margin: 0 24px;
    }
}