.notfound {
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #00F;
    width: fit-content;
}

a {
    text-decoration: none;
    color: #05A;
    width: fit-content;
}